body {
    background: hsl(275, 100%, 97%) url(../assets/images/background-pattern-desktop.svg) no-repeat center top;
    background-size: auto, auto 40vh;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

footer {
    display: none;
}

.container {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    align-self: center;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

